@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --captain-height: 5rem;
  --captain-width: 100%;
  --navigation-height: calc(100% - var(--captain-height));
  --navigation-width: 6rem;
  --main-height: calc(100% - var(--captain-height));
  --main-width: calc(100% -  var(--navigation-width));
}